{% extends 'base.html' %}

{% block action %}
    <a class="button" href="{{ url_for('mail.index')}}">Go back</a>
{% endblock %}

{% block header %}
<h1>{% block title %}Enviar Correo{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <div class="form-group">
            <label for="email">Email</label>
            <input name="email" type="text" id="email"/>
        </div>
        <div class="form-group">
            <label for="subject">Subject</label>
            <input name="subject" type="text" id="subject"/>
        </div>
        <div class="form-group">
            <label for="content">Content</label>
            <textarea name="content" id="content"></textarea>
        </div>
        <div class="form-group">
            <button class="button">Send</button>
        </div>
    </form>
{% endblock %}